# Programa para ler o Banco de Dados de Síndrome Respiratória Aguda Grave (SRAG)

__Base de dados__:
* [SRAG2019](https://opendatasus.saude.gov.br/dataset/bd-srag-2019) ~ 022 KB
* [SRAG2020](https://opendatasus.saude.gov.br/dataset/bd-srag-2020) ~ 727 KB
* [SRAG2021](https://opendatasus.saude.gov.br/dataset/bd-srag-2021) ~ 638 KB

In [1]:
# Carrega pacotes necessários
import pandas as pd
import numpy as np
import os

In [2]:
# Carregar base de dados
os.chdir("C:/Users/andre/OneDrive/Pesquisas/ANDRE_TESE_COVID/TeseDados/SRAG")  # Aponta para a pasta que está o csv
srag = pd.read_csv("INFLUD020820212020.csv", sep = ";")                        # Carrega o csv
srag                                                                           # Exibi primeiras e últimas linhasda base

C:\Users\andre\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15,18,60,62,63,64,92,94,106,115,117,118,119,123,144) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DT_NOTIFIC,SEM_NOT,DT_SIN_PRI,SEM_PRI,SG_UF_NOT,ID_REGIONA,CO_REGIONA,ID_MUNICIP,CO_MUN_NOT,ID_UNIDADE,...,DS_AN_OUT,TP_AM_SOR,SOR_OUT,DT_CO_SOR,TP_SOR,OUT_SOR,DT_RES,RES_IGG,RES_IGM,RES_IGA
0,07/01/2020,2,03/01/2020,1,DF,NaN,NaN,BRASILIA,530010,HRT HOSPITAL REGIONAL DE TAGUATINGA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27/01/2020,5,26/01/2020,5,CE,1 CRES FORTALEZA,1519.0,FORTALEZA,230440,HIAS HOSPITAL INFANTIL ALBERT SABIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13/02/2020,7,08/02/2020,6,SP,GVE XXXI SOROCABA,1353.0,SALTO,354520,HOSPITAL E MATERNIDADE MUNICIPAL N S DO MONTE ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16/01/2020,3,10/01/2020,2,SP,GVE XXXIII TAUBATE,1352.0,TAUBATE,355410,HOSPITAL REGIONAL DO VALE DO PARAIBA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26/02/2020,9,24/02/2020,9,SP,GVE VII SANTO ANDRE,1332.0,MAUA,352940,SANTA CASA DE MAUA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197427,11/12/2020,50,11/12/2020,50,RJ,NaN,NaN,TERESOPOLIS,330580,HOSPITAL DAS CLINICAS DE TERESOPOLIS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1197428,21/05/2021,20,11/08/2020,33,GO,CENTRAL,1779.0,GOIANIA,520870,HOSPITAL SAO LUCAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1197429,12/08/2020,33,27/07/2020,31,GO,CENTRAL,1779.0,GOIANIA,520870,INSTITUTO ORTOPEDICO DE GOIANIA IOG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1197430,04/12/2020,49,01/12/2020,49,RJ,NaN,NaN,DUQUE DE CAXIAS,330170,HOSPITAL MUNICIPAL MOACYR RODRIGUES DO CARMO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1197431,29/12/2020,53,22/12/2020,52,RJ,NaN,NaN,RIO DE JANEIRO,330455,SES UPA 24H PENHA AP 31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Dataframe com variáveis de interesse

# Variáveis:
# DT_NOTIFIC: Data da notificação
# DT_SIN_PRI: Data dos primeiros sintomas
# DT_INTERNA: Data da internação
# DT_ENTUTI:  Data da entrada na UTI
# DT_SAIDUTI: Data da saída da UTI
# DT_EVOLUCA: Data da alta
# FEBRE:      Paciente apresentou febre? 1-Sim; 2-Não; 9-Ignorado
# TOSSE:      Paciente apresentou tosse? 1-Sim; 2-Não; 9-Ignorado
# GARGANTA:   Paciente apresentou dor de garganta? 1-Sim; 2-Não; 9-Ignorado
# DISPNEIA:   Paciente apresentou dispneia? 1-Sim; 2-Não; 9-Ignorado
# DESC_RESP:  Paciente apresentou desconforto respiratório? 1-Sim; 2-Não; 9-Ignorado
# SATURAÇÃO:  Paciente apresentou saturação O2<95%? 1-Sim; 2-Não; 9-Ignorado
# DIARREIA:   Paciente apresentou diarreia? 1-Sim; 2-Não; 9-Ignorado
# VOMITO:     Paciente apresentou vômito? 1-Sim; 2-Não; 9-Ignorado
# DOR_ABD:    Paciente apresentou dor abdominal? 1-Sim; 2-Não; 9-Ignorado
# FADIGA:     Paciente apresentou fadiga? 1-Sim; 2-Não; 9-Ignorado
# PERD_OLFT:  Paciente apresentou perda de olfato? 1-Sim; 2-Não; 9-Ignorado
# PERD_PALA:  Paciente apresentou perda de paladar? 1-Sim; 2-Não; 9-Ignorado
# OUTRO_SIN:  Paciente apresentou outro(s) sintoma(s)? 1-Sim; 2-Não; 9-Ignorado

# Filtra casos de COVID-19
# CLASSI_FIN: 5-COVID-19; 1-Influenza; 2-Outro vírus; 3-Outro agente etiológico; 4-SRAG não especificado
df = srag[srag['CLASSI_FIN'] == 5]
df = df[['DT_NOTIFIC', 'DT_SIN_PRI', 'DT_INTERNA', 'DT_ENTUTI', 'DT_SAIDUTI', 'DT_EVOLUCA', 'FEBRE', 'TOSSE',
         'GARGANTA', 'DISPNEIA', 'DESC_RESP', 'SATURACAO', 'DIARREIA', 'VOMITO', 'DOR_ABD','FADIGA',
         'PERD_OLFT','PERD_PALA','OUTRO_SIN']]
df

,DT_NOTIFIC,DT_SIN_PRI,DT_INTERNA,DT_ENTUTI,DT_SAIDUTI,DT_EVOLUCA,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,DOR_ABD,FADIGA,PERD_OLFT,PERD_PALA,OUTRO_SIN
5,06/03/2020,02/03/2020,06/03/2020,06/03/2020,NaN,NaN,1.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,1.0
27,20/03/2020,18/03/2020,18/03/2020,NaN,NaN,02/04/2020,1.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,2.0
32,25/03/2020,21/03/2020,25/03/2020,28/03/2020,07/04/2020,13/04/2020,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,1.0
34,30/03/2020,21/03/2020,28/03/2020,NaN,NaN,31/03/2020,1.0,1.0,2.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,2.0
40,03/04/2020,26/03/2020,01/04/2020,01/04/2020,10/04/2020,16/04/2020,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197425,22/08/2020,19/08/2020,NaN,NaN,NaN,25/08/2020,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1197426,12/12/2020,09/12/2020,12/12/2020,12/12/2020,21/12/2020,29/12/2020,2.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0
1197429,12/08/2020,27/07/2020,12/08/2020,NaN,NaN,20/08/2020,1.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1197430,04/12/2020,01/12/2020,04/12/2020,NaN,NaN,05/12/2020,2.0,1.0,9.0,9.0,9.0,9.0,9.0,NaN,9.0,NaN,9.0,1.0,9.0
1197431,29/12/2020,22/12/2020,29/12/2020,NaN,NaN,NaN,2.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0

In [4]:
# Transpor colunas para linhas (Subset para fases de hospitalização)
dt = df.iloc[:,0:6]                             # cria dataframe com as colunas de datas (fases de hospitalização)
dt = dt.fillna(0)                               # substitui valores ausentes nas linhas por zero
dt = dt.set_index('DT_NOTIFIC')                 # coloca a coluna DT_NOTIFIC como índice
dt = dt.stack()                                 # transpor colunas em linhas
dt = pd.DataFrame(dt)                           # converte para formato dataframe
dt = dt.reset_index()                           # coloca índice como coluna
dt.columns = ['date','variables', 'n']          # renomeia as colunas
dt

               date   variables           n
0        06/03/2020  DT_SIN_PRI  02/03/2020
1        06/03/2020  DT_INTERNA  06/03/2020
2        06/03/2020   DT_ENTUTI  06/03/2020
3        06/03/2020  DT_SAIDUTI           0
4        06/03/2020  DT_EVOLUCA           0
...             ...         ...         ...
3511230  29/12/2020  DT_SIN_PRI  22/12/2020
3511231  29/12/2020  DT_INTERNA  29/12/2020
3511232  29/12/2020   DT_ENTUTI           0
3511233  29/12/2020  DT_SAIDUTI           0
3511234  29/12/2020  DT_EVOLUCA           0

[3511235 rows x 3 columns]

In [5]:
# Agrupar dataframe por data e fases da hospitalização (primeiros sintomas, internação...)
dt['variables'] = dt.variables.apply({'DT_SIN_PRI':'pri',                # primeiros sintomas
                                      'DT_INTERNA':'int',                # hospitalizado
                                      'DT_ENTUTI':'ent',                 # entrada na UTI
                                      'DT_SAIDUTI':'sai',                # saída da UTI
                                      'DT_EVOLUCA':'evo'}.get)           # alta
dt.loc[dt.n != 0, 'n'] = 1                                               # 1 se tem registro, 0 caso contrário
dt = dt.groupby(['date','variables'])['n'].sum().reset_index(name='n')   # agrupa por total de registros no dia
dt

            date variables     n
0     01/01/2021       ent   494
1     01/01/2021       evo  1466
2     01/01/2021       int  1541
3     01/01/2021       pri  1670
4     01/01/2021       sai   301
...          ...       ...   ...
2605  31/12/2020       ent   740
2606  31/12/2020       evo  1899
2607  31/12/2020       int  2043
2608  31/12/2020       pri  2174
2609  31/12/2020       sai   423

[2610 rows x 3 columns]

In [6]:
# Cria um dataframe padrão com todas dias preenchidos com todas variáveis (utilizar para concatenar bases)

# tipos e total de variáveis para utilizar como padrão
var = dt.variables.unique().tolist()     # cria uma lista com o nome das variáveis
var_unique = dt['variables'].nunique()   # número de variáveis

# cria dataframe com o intervalo (data) selecionado
date01 = '2019-01-01'                          # limite inferior (data inicial)
date02 = '2021-06-30'                          # limite superior (data final)
myd = pd.date_range(date01, date02).tolist()   # completa todos os dias dentro do limite estabelecido
myd = pd.DataFrame({'date':myd})               # cria um dataframe do intervalo selecionado
myd['variables'] = ",".join(var)               # adiciona uma coluna com o nome das variáveis

# coloca cada elemento na lista da coluna variables em uma única linha
myd = pd.DataFrame(myd.variables.str.split(',').tolist(),index=myd.date).stack()
myd = myd.reset_index([0,'date'])
myd = myd.rename(columns={'date':'date',0:'variables'})
myd

           date variables
0    2019-01-01       ent
1    2019-01-01       evo
2    2019-01-01       int
3    2019-01-01       pri
4    2019-01-01       sai
...         ...       ...
4555 2021-06-30       ent
4556 2021-06-30       evo
4557 2021-06-30       int
4558 2021-06-30       pri
4559 2021-06-30       sai

[4560 rows x 2 columns]

In [7]:
# Unifica os dataframes, completando todos dias sem registro com zero
myd['date'] = pd.to_datetime(myd['date'])                                   # coloca a coluna data no padrão "YYYY-MM-DD"
dt['date'] = pd.to_datetime(dt['date'])                                     # coloca a coluna data no padrão "YYYY-MM-DD"
dfs = pd.merge(myd, dt, how="outer", on=["date","variables"])               # concatena dataframes
dfs = dfs[(dfs['date'] >= '2020-01-01') & (dfs['date'] <= '2020-12-31')]    # limite de interesse para o dataframe
dfs['n'] = dfs['n'].fillna(0)                                               # completa todos valores ausentes por zero
dfs

           date variables       n
1825 2020-01-01       ent     0.0
1826 2020-01-01       evo     0.0
1827 2020-01-01       int     0.0
1828 2020-01-01       pri     0.0
1829 2020-01-01       sai     0.0
...         ...       ...     ...
3650 2020-12-31       ent   740.0
3651 2020-12-31       evo  1899.0
3652 2020-12-31       int  2043.0
3653 2020-12-31       pri  2174.0
3654 2020-12-31       sai   423.0

[1830 rows x 3 columns]

In [8]:
# Salva arquivo em csv
os.chdir("C:/Users/andre/OneDrive/Pesquisas/ANDRE_TESE_COVID/TeseDados/SRAG")
dfs.to_csv('SRAG_COVID19_Y2020.csv', index=False, header = True)